<div class="main-content">
  <h1>{{ 'pages.main.title' | translate }}</h1>
  <p>{{ 'pages.main.welcome' | translate }}</p>
  @if (user(); as currentUser) {
    <p>{{ 'pages.main.signedInAs' | translate }}: {{ currentUser.email }}</p>
  }

  @if (canSeeManagerSection()) {
    <p>{{ 'pages.main.managerSection' | translate }}</p>
  }

  @if (canSeeAdminSection()) {
    <p>{{ 'pages.main.adminSection' | translate }}</p>
  }

  @if (canSeeFreightCalculationLink()) {
    <p>
      <a href="" (click)="$event.preventDefault(); openFreightCalculation()">
        {{ 'pages.main.freightCalculationLink' | translate }}
      </a>
    </p>
    <p>
      <a href="" (click)="$event.preventDefault(); openFreightCalculationHere()">
        {{ 'pages.main.freightCalculationHereLink' | translate }}
      </a>
    </p>
  }
</div>

